body{
    margin: 0;
    padding: 0;
}


.logo{
    position: absolute;
    left: 5%;
    top: 5%;    
    z-index: 2;    
    cursor: pointer;
}

.logo img{
    border-radius: 100px;
    background-color: #fff;
    width: 15%;
    box-shadow: 5px 6px 11px rgba(0, 0, 0, 16%);
    padding: 10px;
    width: 130px;
}

.main ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    margin: 0;
    padding: 0;
}

.main ul li{
    list-style: none;
    position: relative;
    width: 33.33%;
    height: 100%;
    float: left;
    transition: 1s;
    overflow: hidden;
}


.main ul li:nth-child(2){
    background-color: #5E933A;
}

.main ul li:nth-child(3){
    background: url(../img/canal-water.jpg);
    background-size: cover;
    background-position: center;
}

.judul1{
    width: auto;
    animation: fadein 1s forwards;
}

.judul1 h2{
    font-family: 'coolvetica';
    text-transform: uppercase;
    font-size: 82px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 35%;
    left: -30%;
}

.judul1 span{
    font-family: 'coolvetica';
    font-size: 42px;
    color: #979797;
    position: absolute;
    bottom: 20%;
    left: 15%;
    transform: rotate(-90deg);
}

.about{
    opacity: 0;
    animation: fadein 1s ease-in .2s forwards;
}

.about h1{
    font-family: coolvetica;
    text-transform: uppercase;
    color: white;
    position: absolute; 
    left: 5%;
    top: 5%;
}

.about p{
    width: 400px;
    font-family: coolvetica;
    text-align: justify;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 5%;
}


@keyframes fadein{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}